* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root{align-items: center;
  height: 100vh;
}
.Perexplore{
 
background: rgb(226, 221, 221);
 
  height: 100vh;
}
.PerexNav{

  height: 7rem;
  background: blue;
}



.PerExsidenav{

  position: relative;
  left: 96.6%;
  top: -40.5rem;
  background: rgb(71, 71, 211);
  height: 91vh;
  width: 3rem;
}
.Perbuttons{
  margin-top: 2rem;
  display: flex;
flex-direction: column;  
row-gap: 7rem;
}
.Perbuttons :nth-child(1){
  height: 3rem;
  width: 3rem;
  background: rgb(71, 71, 211);
  background-image: url(./../images/Home\ \(1\).png);
  background-size: 100% 100%;
  cursor: pointer;
}
.Perbuttons :nth-child(2){
  height: 3rem;
  width: 3rem;
  background-image: url(./../images/contact-book.png);

  background-size: 100% 100%;

  cursor: pointer;
}
.Perbuttons :nth-child(3){
  height: 3rem;
  width: 3rem;
  background-image: url(./../images/settings\ \(1\).png);

  background-size: 100% 100%;
  cursor: pointer;
}
.Perbuttons :nth-child(4){
  height: 3rem;
  width: 3rem;
  background-image: url(./../images/list.png);

  background-size: 100% 100%;
  cursor: pointer;
}
.Navposter{
  height: 10rem;
  width: 10rem;
  position: relative;
  left: 40%;
  top: 20%;
  background-image: url(./../images/Ellipse\ 4.png);
  background-size: 100%  100%;
}
.PerForm{
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  position: relative;
  left: 10%;
  top: 15%;
  width: 90%;
}
.PerForm input{
  width: 70%;
  height: 2.7rem;
  color: black;
  font-weight: bold;
  text-align: center;
  border: none;
  background: rgb(255, 255, 255);
  border-radius: 1.2em;
}
.PerBack{
  position: relative;
  top: -2rem;
  left: 33%;
  width: 3rem;
  color: blue;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1.3rem;
}

.Mobtxt{
  height: 20rem;
  width: 80%;
  border: 2px solid black;
}
.footButton{position: relative;
  top: 19rem;
  display: flex;
  column-gap: 6rem;
  left: 10%;
  border: 2px solid black;
  width: 80%;

}
@media only screen and (max-width:1500px) and (min-width:550px){
  html{
    font-size: 70%;
  }
  /* .mobnext{
    display: none;
  } */
  .Permob{
    display: none;
  }

  
}
@media(max-width:768px){
  html{
    font-size: 70%;
  }
  
  
}

@media only screen and (max-width: 550px) {
  body {
    background-color: white;
 
  }
 .Perexplore{
    display: none;
  }


}