* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root{
  align-items: center;
  height: 100vh;
 
}
.NStInteres{
  background: blue;
 margin-top: -1.8rem;
 height: 100vh;
}



.NStINPerExsidenav{

  position: relative;
  left: 96.6%;
  top: -33rem;
  background: rgb(71, 71, 211);
  height: 91vh;
  width: 3rem;
}
.NStINPerbuttons{
  margin-top: 2rem;
  display: flex;
flex-direction: column;  
row-gap: 7rem;
}
.NStINPerbuttons :nth-child(1){
  height: 3rem;
  width: 3rem;
  background: rgb(71, 71, 211);
  background-image: url(./../images/Home\ \(1\).png);
  background-size: 100% 100%;
  cursor: pointer;
}
.NStINPerbuttons :nth-child(2){
  height: 3rem;
  width: 3rem;
  background-image: url(./../images/contact-book.png);

  background-size: 100% 100%;

  cursor: pointer;
}
.NStINPerbuttons :nth-child(3){
  height: 3rem;
  width: 3rem;
  background-image: url(./../images/settings\ \(1\).png);

  background-size: 100% 100%;
  cursor: pointer;
}
.NStINPerbuttons :nth-child(4){
  height: 3rem;
  width: 3rem;
  background-image: url(./../images/s-list.png);

  background-size: 100% 100%;
  cursor: pointer;
}
.NStInbox{
  position: relative;
  top: 25%;
  left: 15%;
 
  height: 65%;
  width: 70%;
  background: rgb(89, 89, 212);
  border-radius: 1rem;
}



.NStInForm{
  height: 80%;
  width: 90%;
  background: white;
  border-radius: 2rem;
  position: relative;
  top:1rem;
  left: 2rem;
}


.Nsdp{position: relative;
  left: 20%;
  top: -5rem;
  display: flex;
  
}
.NSendpost{
  height: 18rem;
  width: 18rem;
  border-radius: 50%;

  background-image: url(./../images/Ellipse\ 4.png);
  background-size: 100% 100%;
}
.Nsdname{
  color: white;
  display: inline;
  margin: -1rem;
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 17rem;
  position: relative;
  top: -5rem;
}
#Nyourtxt{
  height: 11rem;
  width: 80%;
  margin-top: -10rem;
  border-radius: 2rem;
  margin-left: 5rem;
  padding-bottom: 7rem;font-weight: bold;
}
.NBtnsend{
  width: 6rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 1rem;
  position: relative;
  top: 13rem;
  left: 50%;
}
.NSbtnback{
  width: 3rem;
  color: white;
  border: none;
  font-size: 1rem;
  position: relative;
  top: 15rem;
  left: 45%;
  background: none;
}
.upnav{
  height: 30rem;
  background: blue;
}
.MobSd{
  height: 50rem;
  background: rgb(227, 222, 222);
  
  width: 80%;position: relative;
left: 10%;
top: -22rem;
border-radius: 1rem;
}
.mdpic{
  background-image: url(./../images/Ellipse\ 4.png);
  height: 15rem;
  width: 15rem;
  margin-left: 6rem;
  background-size: 100% 100%;
}
#mdinput{
  height: 16rem;
  width: 80%;
  margin-left: 2rem;
  border: none;
  text-align: center;
  border-radius: 1rem;
}.BtnMdsend{
  width: 10rem;
  height: 2rem;
  color: white;
  background: blue;
  border: none;
  border-radius: 1rem;
  position: relative;
  top: 12rem;
  left: 8rem;
}
@media only screen and (max-width:1500px) and (min-width:550px){

  /* .mobnext{
    display: none;
  } */
  .NSettMob{
    display: none;
  }

  
}
@media(max-width:768px){
  html{
    font-size: 70%;
  }
  
  
}

@media only screen and (max-width: 550px) {
  body {
    background-color: white;
 
  }
  .NStInteres{
    display: none;
  }


}