* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root{align-items: center;
  height: 100vh;
}
.topmain{
  position: relative;
  top: -38rem;
  background: white;
  z-index: 22;
 
  height: 112vh;
}
.main{ 

  position: absolute;
  top: 12%;
  left: 15%;
  height: 40rem;
  width: 70%;
  background:#4525F2 
  
}
.heading{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-top:5%;
  font-size: 2rem;
}
.quarter{
  position: absolute;
  top: 0%;
  width: 13%;
height: 21%;
border-top-right-radius:0;
border-top-left-radius:0;
border-bottom-left-radius:0;
border-bottom-right-radius:100%;
background: rgb(245, 185, 195);
}
.circle{
  position: absolute;
  top: 70%;
   left: 80%;
  height: 30%;
  width: 20%;
  border-radius: 100%;
  background: rgb(245, 185, 195);
}
.registration{
  margin-top: 2%;
  z-index: 2;
  background:#84B5FF
    ;
  position: absolute;
  left: 10%;

  height: 75%;
  width: 80%;
  border-radius: 5%;
}
.poster{
  
  position: absolute;
  top: 10%;
  height: 90%;
  width: 60%;
  left: -2%;
  background-image: url('./../images/rafiki.png');
  background-size: 100% 100%;
}
.title
{position: absolute;
  top: 5%;
  left: 4%;
  display: flex;
  column-gap: 1rem;
}
.title span{
  color: white;
  font-weight: BOLD;
}
.logo{
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
  background-image: url(./../images/image\ 3.png);
  background-size: 100% 100%;
}
.form{
  position: absolute;
  top: 6%;
  left: 55%;
  
  width: 43%;
  height: 89% ;
  background: white;
  border-radius: 5%;
}
.nkposter{
 top: 1.5rem;
  height: 20vh;
  width: 95%;
  position: relative;
  left: 2%;
  background-image: url(./../images/Frame.png);
  background-size: 100% 100%;
}
  .form form{
    display: flex;
    flex-direction: column;
    
  }
  #country,.form form input{
 width: 80%;
 text-align: center;
 margin-left: 10%;
 margin-top: 20%;
 height: 2.2rem;
 border-radius: 2rem;
 
  }
  .deskform input{
    border: 1px solid black;

  }
  #next{
    position: absolute;
    left: 40%;
    top: 80%;
    width: 25%;
    background: blue;
    color:white;
    height: 7%;
    border-radius: 2rem;
    border: none;
   
  }
  .form h2{
 position: absolute;
 margin-top: 5%;
 left: 30%;
    text-align: center;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
  }
  .mobnext{
    position: relative;
    top: 19rem;
    left: 3rem;
    height: 3.5rem;
    font-size: 1.5rem;
    background: blue;
    width: 80%;
    color: white;
    border: none;
    border-radius: 1rem;
    border: none;
 
  }
  .mobform{
    position: relative;
    top: 11rem;
    display: flex;
    flex-direction: column;
    row-gap: 6rem;

  }
  .mobform input{
    position: relative;
    left: 10%;
    border: 1px solid black;
    height: 4rem;
    border-radius: 2rem;
    width: 80%;
    text-align: center;
  }
.mobpara{
  position: absolute;
  top: 25%;
  left: 8%;
  font-size: 3rem;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  
}
.mobpara span{
  color: blue;
}

@media(max-width:998px){
    html{
      font-size: 70%;
    }
    /* .mobnext{
      display: none;
    } */
    
    
  }
@media(max-width:768px){
    html{
      font-size: 70%;
    }
    
  }
  
 @media only screen and (max-width: 600px) {
    body {
      background-color: white;
   
    }
   .topmain, .main{
      display: none;
    }
    .mobie_reg{
      display: flex;
 
      justify-items: center;
      align-items: center;
      column-gap: 10px;
      border: 2px solid red;
      height: 100vh;

    }
  
  }