* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root{
  align-items: center;
  height: 100vh;
 
}
.Interes{
  background: blue;
 margin-top: -1.8rem;
 height: 100vh;
}



.INPerExsidenav{

  position: relative;
  left: 96.6%;
  top: -33rem;
  background: rgb(71, 71, 211);
  height: 91vh;
  width: 3rem;
}
.INPerbuttons{
  margin-top: 2rem;
  display: flex;
flex-direction: column;  
row-gap: 7rem;
}
.INPerbuttons :nth-child(1){
  height: 3rem;
  width: 3rem;
  background: rgb(71, 71, 211);
  background-image: url(./../images/Home\ \(1\).png);
  background-size: 100% 100%;
  cursor: pointer;
}
.INPerbuttons :nth-child(2){
  height: 3rem;
  width: 3rem;
  background-image: url(./../images/contact-book.png);

  background-size: 100% 100%;

  cursor: pointer;
}
.INPerbuttons :nth-child(3){
  height: 3rem;
  width: 3rem;
  background-image: url(./../images/settings\ \(1\).png);

  background-size: 100% 100%;
  cursor: pointer;
}
.INPerbuttons :nth-child(4){
  height: 3rem;
  width: 3rem;
  background-image: url(./../images/list.png);

  background-size: 100% 100%;
  cursor: pointer;
}
.Inbox{
  position: relative;
  top: 25%;
  left: 15%;
 
  height: 65%;
  width: 70%;
  background: rgb(89, 89, 212);
  border-radius: 1rem;
}
.inlogo{
  height: 2rem;
  width: 2rem;
  background-image: url(./../images/image\ 3.png);
  background-size: 100% 100%;
  border-radius: 50%;
  position: relative;
  top: 10%;
  left: 5%;

}
.Inbox p{
  color: white;
  font-weight: bold;
  margin-left: 6rem;
  margin-top: 2rem;
}
.Inposter{
  height: 80%;
  width: 50%;
  background-image: url(./../images/inteposter.png);
  background-size: 100% 100%;
}
.InForm{
  height: 80%;
  width: 45%;
  background: white;
  border-radius: 2rem;
  position: relative;
  top: -27rem;
  left: 32rem;
}
.InForm h3{
  font-weight: bolder;
  text-align: center;
padding-top: 2rem;  
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Inselect{
  width: 70%;
  margin-top: 5rem;
  margin-left: 2rem;
  height: 2rem;
  border-radius: 1rem;
  border: 1px solid black;
}
@media only screen and (max-width:1500px) and (min-width:550px){

  /* .mobnext{
    display: none;
  } */
 .InteMob{
   display: none;
 }
  
}
@media(max-width:768px){
  html{
    font-size: 70%;
  }
  
  
}

@media only screen and (max-width: 550px) {
  body {
    background-color: white;
 
  }
  .Interes{
    display: none;
  }


}