* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root{align-items: center;
}
.Pmain{ 

  position: absolute;
  top: 12%;
  left: 15%;
  height: 55rem;
  width: 70%;
  background:#4525F2 
}
.Pheading{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-top:5%;
  font-size: 2rem;
}
.Pquarter{
  position: absolute;
  top: 0%;
  width: 13%;
height: 21%;
border-top-right-radius:0;
border-top-left-radius:0;
border-bottom-left-radius:0;
border-bottom-right-radius:100%;
background: rgb(245, 185, 195);
}
.Pcircle{
  position: absolute;
  top: 70%;
   left: 80%;
  height: 30%;
  width: 20%;
  border-radius: 100%;
  background: rgb(245, 185, 195);
}
.Pregistration{
  margin-top: 2%;
  z-index: 2;
  background:#84B5FF
    ;
  position: absolute;
  left: 10%;

  height: 75%;
  width: 80%;
  border-radius: 5%;
}
.Pposter{
  position: absolute;
  top: 10%;
  height: 90%;
  width: 60%;
  left: -2%;
  background-image: url('./../images/personaldesktopPoster.png');
  background-size: 100% 100%;
}
.Ptitle
{position: absolute;
  top: 5%;
  left: 4%;
  display: flex;
  column-gap: 1rem;
}
.Ptitle span{
  color: white;
  font-weight: BOLD;
}
.Plogo{
  border-radius: 50%;
  height: 1.4rem;
  width: 1.4rem;
  background-image: url(./../images/image\ 3.png);
  background-size: 100% 100%;
}
.Pform{
  position: absolute;
  top: 6%;
  left: 55%;
  
  width: 43%;
  height: 89% ;
  background: white;
  border-radius: 5%;
}
  .Pform form{
    display: flex;
    flex-direction: column;
    
  }
  #Pcountry,.Pform form input{
 width: 80%;
 border: 2px solid black;
 text-align: center;
 margin-left: 10%;
 margin-top: 20%;
 height: 2.2rem;
 border-radius: 2rem;
 
  }
 
  #Pnext{
    border: 1px solid black;
    position: absolute;
    left: 40%;
    top: 80%;
    width: 25%;
    background: blue;
    color:white;
    height: 7%;
    border-radius: 2rem;
   cursor: pointer;
  }
  .Pbtn{cursor: pointer;
    position: absolute;
    left: 40%;
    top: 90%;
    width: 25%;
    background: white;
    color:blue;
    border: none;
    height: 7%;
    font-weight: bold;
    border-radius: 2rem;
   

  }
  .Pform h2{font-size: 2rem;
 position: absolute;
 margin-top: 5%;
 left: 30%;
    text-align: center;
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
  }
  .Pmobform{
    position:absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
    left: 15%;
  }
  .Pmobform input{
    height: 4rem;
    width: 25rem;
    border-radius: 2rem;
    text-align: center;
    border: 1px solid black;
  }
  .Pmobsign{
    position: absolute;
    width: 25rem;
    left: 17%;
    border-radius: 4rem;
    border: none;
    color: white;
    background: blue;
    height: 4rem;
    top: 87%;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: 12px 13px solid grey;
  }
  .Ptopmain{
   

    z-index: 655;
    position: relative;
        height: 100vh;
  }
  .PImg{
    top: 5rem;
    position: absolute;
    left: 4rem;
    height: 20rem;
    width: 30rem;
    background-image: url(./../images/VisualIcon.png) ;
    background-size: 100% 100%;
    
  }
  PmobPer{
    position: relative;
    top: -35rem;
  }
  @media only screen and (max-width:1440px) and (min-width:600px){
    html{
      font-size: 70%;
    }
     .PmobPer{
      display: none;
    } 
    
  }
@media(max-width:1040px){
    html{
      font-size: 70%;
    }
    .Pform h2{font-size: 1rem;
      position: absolute;
      margin-top: 5%;
      left: 30%;
         text-align: center;
         font-weight: bolder;
         font-family:Arial, Helvetica, sans-serif;
       }
  
    
  }
  
 @media only screen and (max-width: 600px) {
    body {
      background-color: white;
   
    }
   .Pmain{
     display: none;
   }
   PmobPer{
      display: flex;
     position: absolute;
     top: 25rem;
      justify-items: center;
      align-items: center;
      column-gap: 10px;
      border: 2px solid red;
      height: 100vh;

    }
  
  }